@import "tailwindcss";
@import "bootstrap/dist/css/bootstrap.min.css";

fieldset {
  position: relative;
  border: 2px solid #10b981;
}

legend {
  top: -12px;
  left: 15px;
  background: white;
  padding: 0 8px;
  font-weight: bold;
  color: #4caf50;
  font-size: 18px;
  width: fit-content;
}
